<div *ngIf='users'>

  <mat-list class="user-list">

    <mat-list-item *ngFor="let user of users" (click)="onUserClick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

      <a mat-list-item routerLink="/detail/{{user._id}}" class="link">

        <img matListAvatar src="https://res.cloudinary.com/dhmyw1kdo/image/upload/v1543605732/Galway_city/avatar.jpg" alt="...">
        <h4 mat-line>{{user.name}}</h4>

      </a>

      <mat-divider></mat-divider>

    </mat-list-item>

  </mat-list>

</div>
<div *ngIf="!users">
  <h4>{{errorMessage}}</h4>
</div>

