<div class="main" *ngIf="place">

  <div class="left">

    <mat-list *ngFor="let place of places; let i = index">
      <a mat-list-item routerLink="/places/{{i}}"> {{place.name}} </a>

    </mat-list>
  </div>

  <div class="right">


    <mat-card>

      <mat-card-header class="placesCard">

        <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="...">
        <mat-card-title>{{place.name}}</mat-card-title>
        <mat-card-subtitle>Galway</mat-card-subtitle>

      </mat-card-header>

      <img mat-card-image src="{{place.photoAddress}}" alt="Galway place photo.">

      <mat-card-content>
        <p>
          {{place.description}}
        </p>
      </mat-card-content>

      <mat-card-actions>

      </mat-card-actions>

      <!--Comments  *ngIf="allCommentsPlace.length > 0"-->
      <mat-accordion multi="true" *ngIf="allCommentsPlace" class="commets-accordion">

        <mat-expansion-panel [expanded]="true">

          <mat-expansion-panel-header>
            Comments
          </mat-expansion-panel-header>

          <mat-card *ngFor="let comment of allCommentsPlace" class="comment-card">

            <mat-card-header>

              <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="...">
              <mat-card-title>{{comment.commenterName}}</mat-card-title>

            </mat-card-header>

            <mat-card-content>

              <p>
                {{comment.comment}}
              </p>

            </mat-card-content>

            <mat-card-actions>

              <button mat-raised-button *ngIf="comment.commenterId==userId" (click)="editCommentDialog(comment._id,comment.comment)"
                color="accent">EDIT</button>
              <button mat-raised-button *ngIf="comment.commenterId==userId" (click)="onDelete(comment._id)" color="warn">DELETE</button>

            </mat-card-actions>

          </mat-card>

        </mat-expansion-panel>
      </mat-accordion>

      <!--new comment-->
      <div *ngIf="isLogin">

        <form (submit)="onAddCooment(postForm)" #postForm="ngForm">

          <div class="comment-form">

            <mat-form-field>
              <textarea matInput placeholder="Leave a comment" name="comment" [(ngModel)]="comment"></textarea>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" class="button">Add</button>

          </div>

        </form>

      </div>

      <div *ngIf="isLogin==false">

        <button mat-button class="toolbarLoginButton" [routerLink]="['/sign']">Sign in/Sign up for comment</button>

      </div>

    </mat-card>

  </div>

</div>