@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
   
      
.left{
    flex:30%;
    justify-content:  center;
}
.right{
       flex:70%;
       justify-content:  center;
     }
.main{

display: flex;
justify-content:  center;


}
  .comment-form{
    display: flex;
    flex-direction: column;
  }
  .button{
    max-width: 100px;
  }
  .comment-card{
    max-width: 600px;
    margin-top: 7px;
  }
  .commets-accordion{
   
  }
  .placesCard{
    padding-top: 7px;
    max-width: 800px;
  }
  /*
  .place-image{
    max-width: 800px;
  }
  .descriptio-paragraph{
    
      max-width: 700px;
    
  }*/