
   

    
 
  
.left{
    flex:30%;
}
.right{
       flex:70%;
     }
.main{

display: flex;

align-content: center;
  }
  .comment-form{
    display: flex;
    flex-direction: column;
  }
  .button{
    max-width: 100px;
  }