<mat-card class="edit-card">
  <mat-card-header>

    <mat-card-title>Edit your details</mat-card-title>

  </mat-card-header>

  <form class="EditDetailsForm" (submit)="onChangeDetails()" >

    <div class="formContainer" *ngIf=user>

      <mat-form-field>

        <input matInput placeholder="user name" required name="name" type="text" [formControl]="name">
        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput placeholder="Email address" required [formControl]="email" name="emailIn">
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>

      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Save Changes</button>

    </div>

  </form>

</mat-card>

<mat-card class="password-card">

  <mat-card-header>

    <mat-card-title>Change your pasword</mat-card-title>

  </mat-card-header>

  <form class="changePasswordForm" (submit)="onChangePassword()" >
    <div class="formContainer" *ngIf=user>

      <mat-form-field>

        <input matInput type="text" name="oldPass" placeholder="Actual password" required [formControl]="password"
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword("old")}}</mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput type="text" name="newPass" placeholder="New password" required [formControl]="passwordNew"
          [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword("new")}}</mat-error>

      </mat-form-field>

      <mat-error *ngIf="wrongPassword">Wrong password</mat-error>

      <button mat-raised-button color="accent" type="submit">Change password</button>

    </div>

  </form>

</mat-card>

<mat-card class="delete-acount-card">

  <mat-card-header>

    <mat-card-title>Delete your account</mat-card-title>

  </mat-card-header>

  <section class="example-section">

    <mat-checkbox class="example-margin" [(ngModel)]="disabled" [ngModelOptions]="{standalone: true}">Delete my account</mat-checkbox>

    <button mat-raised-button color="accent" (click)="onDelete()" [disabled]="!disabled">DELETE MY ACCOUNT</button>
   

  </section>

</mat-card>