@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.formContainer{
    display: flex;
    flex-direction: column;
}
.edit-card, .password-card, .delete-acount-card{
    margin: 10px;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
 
    flex-direction: column;
  }