<div class="main-cointainer">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sign In
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>


      <form class="SignInForm" (submit)="onSignIn(postForm)" #postForm="ngForm">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Email address" required [(ngModel)]="emailIn" name="emailIn">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required [(ngModel)]="password"
              name="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        </div>

        <button mat-raised-button color="accent" type="submit">Sign In</button>


      </form>


    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          Sign Up
        </mat-panel-title>

        <mat-panel-description>
          Create your account {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>

      </mat-expansion-panel-header>

      <form class="SignUpForm" (submit)="onSignUp(postForm)" #postForm="ngForm">
       
        <div class="example-container">
          
          <mat-form-field>
            <input matInput placeholder="Email address" required [(ngModel)]="emailIn" name="emailIn">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required [(ngModel)]="password"
              name="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

        
        </div>

        <button mat-raised-button color="accent" type="submit">Sign Up</button>
    

      </form>
    </mat-expansion-panel>
  </mat-accordion>

</div>