<mat-card class="city-card">
    <mat-card-header>
        <img mat-card-avatar src="https://res.cloudinary.com/dhmyw1kdo/image/upload/v1543605657/Galway_city/logo.jpg" alt="...">
        <mat-card-title>Galway</mat-card-title>
        <mat-card-subtitle>Ireland</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/dhmyw1kdo/image/upload/v1543690611/Galway_city/The_Tribes_of_Galway_Eyre_Square.jpg" alt="Photo of galway">
    <mat-card-content>
        <p>
            Galway is a city in the West of Ireland, in the province of Connacht. 
            Galway lies on the River Corrib between Lough Corrib and Galway Bay, surrounded by 
            County Galway, and is the sixth most populous city in Ireland, with a population at the 2016 
            Census of 79,934. Galway will be the European Capital of Culture in 2020, alongside Rijeka, Croatia.
        </p>
    </mat-card-content>
    
</mat-card>