<mat-toolbar color="primary" class="toolbar" >
  <span class="title">Galway City Tour</span>
  <input class="toolbarMainSearchBar"  type="text" name="lname" value="Seach">

  <button mat-icon-button  id="seachButton"><mat-icon svgIcon="search-icon"></mat-icon>
  </button>
  
  <button mat-button  class="toolbarMainButton" [routerLink]="['/home']">Home</button>
  <button mat-button  class="toolbarMainButton" [routerLink]="['/places']" >Places</button>
  <button mat-button  class="toolbarLoginButton">Sign in/Sing up</button>
</mat-toolbar>


